@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html,
body {
	background-color: #181717;
	scroll-behavior: smooth;
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
	scrollbar-width: none;
	/* Chrome, Edge, Safari */
	-ms-overflow-style: none;
	/* IE & Edge */
}

/* Glassmorphism card effect */
.glassEffect {
	-webkit-backdrop-filter: blur(5px) saturate(100%);
	backdrop-filter: blur(5px) saturate(100%);
	background-color: rgba(237, 240, 245, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.hero-bg-img {
	background-image: url("./assets/cap1.png");
	background-repeat: no-repeat;
	object-fit: cover;
	/* background-position: center; */
}

/* --------------- Welcome Section Styles -------------- */

.text-darkBrown {
	color: #2A2725;
	position: relative;
	display: inline-block;
	overflow: hidden;
	line-height: 1.05;
}

.clip-text-welcome {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	color: #f4efe7;
	clip-path: inset(0 0 100% 0);
	white-space: nowrap;
	transition: none;
}

@media (max-width: 768px) {
	.responsive-mobile {
		position: absolute;
		top: 33%;
	}

}

/* -------------- Choose Section Styles ----------------- */
.choose-title-break {
	color: #181717;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.choose-title-clip {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	color: #f4efe7;
	clip-path: inset(100% 0 0 0);
	white-space: wrap;
	transition: none;
	z-index: 100;
}

.title-part {
	overflow: hidden;
}

/* ------------------ Sticky Section Style ------------------- */
.sticky-cols {
	padding: 0rem;

	/* .sticky-cols-wrapper {
		position: relative;
		width: 100%;
		height: 100vh;
	} */

	.col {
		position: absolute;
		width: 50%;
		height: 100%;
		will-change: transform;
	}

	.col h1 {
		color: #b1a696;
		width: 60%;
	}

	.col p {
		color: #b1a696;
		width: auto;
	}

	.col-2 {
		scale: 1;
		transform: translateX(100%);
	}

	.col .col-img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.col-content,
	.col-img {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 0.5rem;
	}

	.col-3 {
		transform: translateX(100%) translateY(100%);
		padding: 0.5rem;
	}

	.col-4 {
		transform: translateX(100%) translateY(100%);
	}

	.col-content-wrapper {
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.col-content-wrapper,
	.col-img-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: #2a2725;
		border-radius: 3rem;
		overflow: hidden;
	}

	.col-content-wrapper-2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 2.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.col-img-1,
	.col-img-2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.col-img-2 {
		clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
	}

	.col-img-2 {
		transform: scale(1);
	}

	.line {
		overflow: hidden;
	}

	.line span {
		display: block;
		will-change: transform;
	}
}